{% extends "base.html.twig" %}
{% block title %} About us{% endblock %}
{% block main %}
<div class="cadreDescription">
  <h4><p>Grâce à son réseau de 42 Agences de Voyages, notre agence est proche de vous, dans votre région !
    LES ENGAGEMENTS DE NOS CONSEILLERS VOYAGES :
  <p>- L'écoute : pour répondre à vos envies de séjours, circuits, croisières, week-end ou à la carte, en respectant votre budget.
  <p>- Le professionnalisme : nos équipes sont formées tout au long de l’année et voyagent pour connaître nos voyages, et toujours mieux vous conseiller
  <p>- Les services : chèques voyages, listes de mariage, départs en retraite, anniversaires</p></h4>
</div>

 {% endblock %}
