{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block main %}

<h1>Welcome</h1>

<p>{{ welcome }}</p>

{% endblock %} {# main #}

